body {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
    font-family: 'Georgia', 'Helvetica Neue', Arial, sans-serif;
}

pre, tt, code {
    font-family: 'Inconsolata',
                 'Consolas',
                 'Menlo',
                 'Deja Vu Sans Mono',
                 'Bitstream Vera Sans Mono',
                 monospace;
}

.wy-side-nav-search,
.wy-side-nav-search > a {
    color: #000;
    background: #fff;
}
.wy-side-nav-search > a img.logo {
    max-width: 60%;
}
.wy-side-nav-search > div.version {
    color: #999;
    font-size: small;
}
.wy-menu-vertical p.caption {
    color: #999;
    letter-spacing: 2px;
}
.wy-side-nav-search input[type=text] {
    border-color: #999;
}

p.grace-note {
    font-size: 21px;
    font-style: italic;
    padding: 1.4em 0 1.4em 0;
    text-align: center;
}